/* Give your page a fun background color */
body {
  background: linear-gradient(to bottom, #66ff99 0%, #3366ff 100%);
  }
/* Make the header and footer a different color from the background */

.header { background-color: #0000ff;

}

.footer { background-color: #00cc00;

}

/* Align the h1 containing your name in the center of the header*/

h1 {
  text-align: center;
}

/* Make your p tag a different color and italic */

p { color: #cc33ff;
    font-style: italic;
    font-size: 24px;
}

/* Put a border around your image */
img {
  border-style: ridge;
  border-width: 5px;
  border-color: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
/* Change the font-family of your list */
ul {
  font-family: Courier, Geneva, Helvetica;
}
